/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
@import '../../../global-styles/styles/root.scss';

#home-page{
    background-color: --color-primary-dark-blue;
}