/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
@import '../../../global-styles/styles/_root.scss';


#home-page{
    background-color: var(--color-primary-dark-blue);
    color: var(--color-white);
    .heading-wrapper{
        font-family: "DM Sans" serif;
        line-height: 56px;
        text-align: left ;
        vertical-align: top;
        letter-spacing: -0.2%;
        .heading-title{
            font-size: var(--text-xl);
            font-weight: 500;
        }
        .heading-text{
            font-size: var(--text-x);
          
        }
    }
}