/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
@import '../../../global-styles/styles/_root.scss';

#home-page{
    color: var(--color-white);
    font-family: 'DM Sans', sans-serif;
    height: 100%;
 .flexbox-container{
    display: flex;
    padding: 140px 152px;
    gap: 90px;
    @media screen and (max-width:834px) {
        flex-direction:column;
        gap:24px;
    }
    .heading-wrapper{
        font-family: "DM Sans", sans-serif;
        text-align: left ;
        vertical-align: top;
        .heading-title{
            font-size: var(--text-xl);
            font-weight: 500;
            line-height: 130%;
            margin-bottom: 24px;
            @media screen and (max-width:834px) {
                margin-bottom: 16px;
            }
            @media screen and (max-width:480px) {
                font-size: var(--text-l);
            }
        }
        .heading-text{
            font-size: var(--text-x);
            line-height: 24px;
          
        }
    }
    .card-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        @media screen and (max-width:834px) {
            gap:16px;
        }
        .card{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 40%;
            padding: 24px 16px;
            background-color:var(--color-secondary-grey);
            text-align: center;
            border-radius: var(--rounding-big);
            .card-img{
                width: 64px;
                height: 64px;
                @media screen and (max-width:834px) {
                    width: 56px;
                    height: 56px;
                }
            }
            .card-title{
                font-size: var(--text-m);
            }
            .card-text{
                font-size: var(--text-s);
                mix-blend-mode:soft-light;
                @media screen and (max-width:834px) {
                    font-size: var(--text-xs);
                }
            }
        }

    }
}

}