/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
@import '../../../global-styles/styles/_root.scss';


#home-page{
    background-color: var(--color-primary-dark-blue);
    color: var(--color-white);
    font-family: 'DM Sans', sans-serif;
    height: 100%;
 .flexbox-container{
    display: flex;
    padding: 140px 152px;
    gap: 90px;
    .heading-wrapper{
        font-family: "DM Sans" serif;
        text-align: left ;
        vertical-align: top;
        letter-spacing: -0.2%;
        min-width: 450px;
        .heading-title{
            font-size: var(--text-xl);
            font-weight: 500;
            line-height: 56px;
            margin-bottom: 24px;
        }
        .heading-text{
            font-size: var(--text-x);
            line-height: 24px;
          
        }
    }
    .card-container{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        .card{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 40%;
            padding: 24px 16px;
            background-color:var(--color-secondary-grey);
            text-align: center;
            border-radius: var(--rounding-big);
            .card-img{
                width: 64px;
                height: 64px;
            }
            .card-title{
                font-size: var(--text-m);
            }
            .card-text{
                font-size: var(--tex-s);
                mix-blend-mode:soft-light;
            }
        }

    }
}

}