:root {
  --color-primary-dark-blue: #0F162D ;
  --color-primary-pink: #CA59FF;
  --color-primary-purple: #6C7CFF;
  --color-primary-green: #2AFFFF;
  --color-primary-yellow: #FFF629;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-secondary-grey:#272D42;
  --text-xl:48px;
  --text-l:32px;
  --text-m:20px;
  --text-s:16px;
  --text-xs:14px;
  --rounding-big:24px;
  --rounding-small:16px;
}

.home-page {
  color: var(--color-white);
  font-family: 'DM Sans',sans-serif;
  height: 100%;
}

.home-page .flexbox-container {
  max-width: 1440px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 160px auto 0 auto;
  gap: 0px;
}

@media screen and (max-width: 1191px) {
  .home-page .flexbox-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 247px;
  }
}

@media screen and (max-width: 480px) {
  .home-page .flexbox-container {
    padding: 48px 24px;
    margin-top: 0px;
  }
}

.home-page .flexbox-container .heading {
  font-family: "DM Sans", sans-serif;
  text-align: left;
  vertical-align: top;
  max-width: 480px;
  padding-left: 30px;
  padding-right: 60px;
}

@media screen and (max-width: 1191px) {
  .home-page .flexbox-container .heading {
    width: 100%;
    padding: 0 14px;
    max-width: 500px;
  }
}

.home-page .flexbox-container .heading__title {
  font-size: var(--text-xl);
  font-weight: 500;
  line-height: 115%;
  letter-spacing: 0.2%;
  margin: 0 0 24px 0;
}

@media screen and (max-width: 1191px) {
  .home-page .flexbox-container .heading__title {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .home-page .flexbox-container .heading__title {
    font-size: var(--text-l);
    margin-bottom: 20px;
  }
}

.home-page .flexbox-container .heading__text {
  font-size: var(--text-m);
  line-height: 24px;
  font-weight: 300;
}

@media screen and (max-width: 480px) {
  .home-page .flexbox-container .heading__text {
    font-size: var(--text-s);
  }
}

.home-page .flexbox-container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  max-width: 620px;
}

@media screen and (max-width: 1191px) {
  .home-page .flexbox-container .cards {
    width: 100%;
    gap: 16px;
    max-width: 500px;
  }
}

.home-page .flexbox-container .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-white);
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 240px;
  max-width: 250px;
  min-height: 200px;
  padding: 22px 10px;
  background-color: var(--color-secondary-grey);
  text-align: center;
  border-radius: var(--rounding-big);
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 1191px) {
  .home-page .flexbox-container .cards .card {
    max-width: 220px;
    padding-bottom: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: auto;
  }
}

@media screen and (max-width: 480px) {
  .home-page .flexbox-container .cards .card {
    width: 100%;
    min-height: auto;
    max-width: none;
  }
}

.home-page .flexbox-container .cards .card__img {
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 1191px) {
  .home-page .flexbox-container .cards .card__img {
    width: 56px;
    height: 56px;
  }
}

.home-page .flexbox-container .cards .card__title {
  font-size: var(--text-m);
  font-weight: 500;
  margin-top: 12px;
}

.home-page .flexbox-container .cards .card__text {
  font-size: var(--text-s);
  mix-blend-mode: soft-light;
  line-height: 24px;
}

@media screen and (max-width: 1191px) {
  .home-page .flexbox-container .cards .card__text {
    font-size: var(--text-xs);
  }
}
/*# sourceMappingURL=home-page.css.map */